/*
COLORS:

Lightgreen: #E6E8E5
Mediumgreen: #7F5A83
Darkgreen: #2C3639

*/


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    background: #27303a;
    line-height: 1.7;
    color: #DCD7C9;
  
}

.header{
    height: 95vh;
    background: #28b485;
   
    background-image:linear-gradient(to top,
    #27303a,
     rgba(72, 84, 97, 0.678)),
      url('../img/printingMain.jpg');
    background-size: cover;
    background-position: center;
    /* clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100% ); */
    clip-path: circle(80% at 51% 50%);
    position: relative;
    animation-name: headeranimation;
    animation-duration: 1s;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 8vh;
    
}
li,a,button{
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color:#E6E8E5 ;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;

}
.nav-list li{
    display: inline-block;
    margin-right: 20px;
}

.nav-item a{
    transition: all .3s ease-in-out 0s; 
}
.nav-item a:hover{
    color: #7F5A83;
}

button{
    padding: 9px 25px;
    background-color: #7F5A83;
    border-radius: 50px;
    transition: all .3s ease-in-out 0s;
    cursor: pointer;
}
button:hover{
    background-color: #DCD7C9;
    color: #2C3639
}
@keyframes headeranimation{
    0%{
       clip-path: circle(6.8% at 51% 50%);
    }
    100%{
        clip-path: circle(80% at 51% 50%);
    }
}

.logo-box{
 position: absolute;
 top: 10px;
 left: 20px;
 animation-name: moveInRight;
 animation-duration: 4;
}

.logo{
max-width: 100%;
width: 60px;
cursor: pointer;
padding-left: 10px;
}

.text-box{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.heading-primary{
    color: #E6E8E5;
    text-transform: uppercase;
    backface-visibility: hidden;
    
}
.heading-primary--main{
    display: block;
    font-size: 50px;
    font-weight: 400;
    letter-spacing: 10px;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;

    
}

.heading-primary--sub{
    display: block;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 10px;
    animation-name: moveInRight;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
}

.header-logo{
    max-width: 100%;
    width: 80%;
    animation-name: fadeIn;
    animation-duration: 2s;
    
}


.btn:link,
.btn:visited{
    text-transform: uppercase;
    text-decoration: none;
    padding:15px 30px;
    display: inline-block;
    margin-top: 50px;
    border-radius: 100px;
    transition: all 0.3s ease;
    position: relative;
}
.btn:hover{
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active{
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.btn--white{
    background-color: #7F5A83;
    color: #E6E8E5;
}  

.btn::after{
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s ease;
}

.btn:hover::after{
    transform: scaleX(1.5) scaleY(1.6);
    opacity: 0;
}
.btn--white::after{
    background-color: #7F5A83;
}
.btn--animated{
   animation:moveInBottom 1s ease-in-out .75s;
   animation-fill-mode: backwards;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

@keyframes moveInLeft{
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }
    80%{
        
        transform: translateX(10px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes moveInRight{
    0%{
        opacity: 0;
        transform: translateX(100px);
    }
    80%{
        
        transform: translateX(-10px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    } 
}
@keyframes moveInBottom{
    0%{
        opacity: 0;
        transform: translateY(30px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes fadeIn{
    0%{
        opacity: 0;
        transform: scale(.2) ;
    }

    100%{
        opacity: 1;
        transform: scale(1);
    }
}
























